@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione as cores para o tema light */
.bg-primary {
  background-color: #ffffff;
}

/* Adicione as cores para o tema dark */
.dark .bg-primary {
  background-color: #ffffff;
}


.container-r {
  background-color: rgb(103, 103, 230);
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 30%;
  max-width: 400px;
  height: auto;
}
/* estilos para smartphones */
@media (max-width: 767px) {
  .logo {
    max-width: 100%;
    width: 100%;
  }
}

/* estilos para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    max-width: 80%;
    width: 80%;
  }
}


.logo2{
  position: absolute;
  top: 30px;;
  right: 1%;
  transform: translateX(-10%);
  max-width: 40%;
  height: auto;
}





.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

h2 {
  margin: 20px 0;
  text-align: center;
  color: blue;
  font-size: 24px;
}

.icon-input-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links-container a {
  font-size: 14px;
  color: #017e7e;
  text-decoration: underline;
  margin-left: 10px;
}

.social-login {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color:rgb(0, 119, 126);
  margin-bottom: 1rem;
}

.social-login span {
  margin-right: 1rem;
  margin-bottom: 1rem
}

.social-login a {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

